<div class="S_NavigationBar">
  <div class="O_MenuBar">
    <div class="W_MenuBarLeft">
      <div class="A_IconButton">
        <div class="Q_Icon burger"></div>
      </div>

      <div class="M_Breadcrumbs">
        <a class="A_Breadcrumb" href="">Клиенты и кабинеты</a>
        <div class="Q_Icon chevron-right"></div>
        <a class="A_Breadcrumb" href="">ООО «Пиар»</a>
        <div class="Q_Icon chevron-right"></div>
        <a class="A_Breadcrumb" href=""
          >АО «Петербургский мельничный комбинат»</a
        >
        <div class="Q_Icon chevron-right"></div>
        <a class="A_Breadcrumb active" href="">Маркет-платформа 2003697207</a>
      </div>
    </div>

    <!-- <div class="A_NotificationsButton">
      <div class="bell"></div>
      <div class="Q_CounterBadge">22</div>
    </div> -->

    <div class="W_MenuBarRight">
      <div class="A_Avatar"></div>
    </div>
  </div>
</div>
