<div class="S_SideBar">
  <div class="O_SideBarHome">
    <div class="W_SideBarHomeLeft">
      <a class="Q_Logo" href=""></a>
      <div class="A_Button tertiary muted">id: 8787</div>
    </div>

    <div class="W_SideBarHomeRight">
      <div class="A_IconButton">
        <div class="Q_Icon close"></div>
      </div>
    </div>
  </div>

  <div class="W_SideBarMenuContent">
    <div class="C_SideBarMenu">
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Клиенты и кабинеты</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Счета на оплату</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Задачи</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Движение денег</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Бонусы</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Баллы</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Договоры и акты</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Акты реализации</a>
      </div>
    </div>

    <div class="C_SideBarMenu">
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Задать вопрос по рекламе</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Техническая поддержка</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Правовые документы</a>
      </div>
      <div class="M_SideBarMenuItem">
        <a class="A_Button tertiary" href="">Оферта</a>
      </div>
    </div>
  </div>
</div>
