<div class="T_MainEntityBarsFolders">
  <div class="W_MainEntityBarsFoldersClient">
    <div class="O_MainEntityBar folder">
      <div class="W_MainEntityBarContent">
        <div class="W_MainEntityBarContentLeft">
          <div class="A_MainEntityBarToggleButton">
            <div class="A_Text">12</div>
            <div class="A_Text">кабинетов</div>
          </div>

          <div class="M_MainEntityBarTitle">
            <div class="M_LabelsWithDivider">
              <div class="A_Text">Клиент</div>
            </div>

            <div class="M_MainEntityBarEntityName">
              <div class="A_MainEntityBarFavButton"></div>

              <div class="A_Text">
                АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ БЛАГОТВОРИТЕЛЬНАЯ ОРГАНИЗАЦИЯ «ЦЕНТР
                ПОМОЩИ И ПРИСТРОЙСТВА ЖИВОТНЫХ»
              </div>
            </div>
          </div>
        </div>

        <div class="W_MainEntityBarContentRight">
          <div class="C_MainEntityBarAmountRow">
            <div class="M_MainEntityBarAmount">
              <div class="A_Text">Баланс</div>
              <div class="A_Text">114.03 ₽</div>
            </div>
          </div>

          <div class="A_Button secondary">Пополнить</div>
        </div>
      </div>

      <div class="A_MainEntityBarMoreButton"></div>
    </div>

    <div class="C_Entities">
      <div class="O_MainEntityBar accent">
        <div class="W_MainEntityBarContent">
          <div class="W_MainEntityBarContentLeft">
            <div class="M_MainEntityBarTitle">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Кабинет</div>
                <div class="A_Text">•</div>
                <div class="A_Text">
                  АО Петербургский мельничный комбинат ИНН 7810229592
                </div>
              </div>

              <div class="M_MainEntityBarEntityName">
                <div class="A_MainEntityBarFavButton"></div>
                <div class="A_Text">Маркет-платформа VK</div>
                <a class="A_Text" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_MainEntityBarContentCenter">
            <div class="M_InfoMark">
              <div class="A_Tooltip">Подключены платные услуги</div>
            </div>

            <div class="A_Chip">Требуется добавление менеджера</div>
          </div>

          <div class="W_MainEntityBarContentRight">
            <div class="C_MainEntityBarAmountRow">
              <div class="M_MainEntityBarAmount">
                <div class="A_Text">Баланс</div>
                <div class="A_Text">114.03 ₽</div>
              </div>

              <div class="M_MainEntityBarAmount">
                <div class="A_Text">К поступлению</div>
                <div class="A_Text">0 ₽</div>
              </div>
            </div>

            <div class="A_Button secondary">Пополнить</div>
          </div>
        </div>

        <div class="A_MainEntityBarMoreButton"></div>
      </div>
    </div>
  </div>

  <div class="W_MainEntityBarsFoldersClient">
    <div class="O_MainEntityBar folder">
      <div class="W_MainEntityBarContent">
        <div class="W_MainEntityBarContentLeft">
          <div class="A_MainEntityBarToggleButton">
            <div class="A_Text">2</div>
            <div class="A_Text">рекламодателя</div>
          </div>

          <div class="M_MainEntityBarTitle">
            <div class="M_LabelsWithDivider">
              <div class="A_Text">Агентство</div>
            </div>

            <div class="M_MainEntityBarEntityName">
              <div class="A_MainEntityBarFavButton"></div>

              <div class="A_Text">
                АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ БЛАГОТВОРИТЕЛЬНАЯ ОРГАНИЗАЦИЯ «ЦЕНТР
                ПОМОЩИ И ПРИСТРОЙСТВА ЖИВОТНЫХ»
              </div>
            </div>
          </div>
        </div>

        <div class="W_MainEntityBarContentRight">
          <div class="C_MainEntityBarAmountRow">
            <div class="M_MainEntityBarAmount">
              <div class="A_Text">Баланс</div>
              <div class="A_Text">114.03 ₽</div>
            </div>
          </div>

          <div class="A_Button secondary">Пополнить</div>
        </div>
      </div>

      <div class="A_MainEntityBarMoreButton"></div>
    </div>

    <div class="W_MainEntityBarsFoldersSubClient">
      <div class="O_MainEntityBar folder">
        <div class="W_MainEntityBarContent">
          <div class="W_MainEntityBarContentLeft">
            <div class="A_MainEntityBarToggleButton">
              <div class="A_Text">6</div>
              <div class="A_Text">кабинетов</div>
            </div>

            <div class="M_MainEntityBarTitle">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Рекламодатель</div>
              </div>

              <div class="M_MainEntityBarEntityName">
                <div class="A_MainEntityBarFavButton"></div>

                <div class="A_Text">
                  АНО «Центр помощи и пристройства животных»
                </div>
              </div>
            </div>
          </div>

          <div class="W_MainEntityBarContentRight">
            <div class="A_Button secondary">Создать кабинет</div>
          </div>
        </div>

        <div class="A_MainEntityBarMoreButton"></div>
      </div>

      <div class="C_Entities">
        <div class="O_MainEntityBar accent">
          <div class="W_MainEntityBarContent">
            <div class="W_MainEntityBarContentLeft">
              <div class="M_MainEntityBarTitle">
                <div class="M_LabelsWithDivider">
                  <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div>
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="M_MainEntityBarEntityName">
                  <div class="A_MainEntityBarFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_MainEntityBarContentCenter">
              <div class="M_InfoMark">
                <div class="A_Tooltip">Подключены платные услуги</div>
              </div>

              <div class="A_Chip">Требуется добавление менеджера</div>
            </div>

            <div class="W_MainEntityBarContentRight">
              <div class="C_MainEntityBarAmountRow">
                <div class="M_MainEntityBarAmount">
                  <div class="A_Text">Баланс</div>
                  <div class="A_Text">114.03 ₽</div>
                </div>

                <div class="M_MainEntityBarAmount">
                  <div class="A_Text">К поступлению</div>
                  <div class="A_Text">0 ₽</div>
                </div>
              </div>

              <div class="A_Button secondary">Пополнить</div>
            </div>
          </div>

          <div class="A_MainEntityBarMoreButton"></div>
        </div>
      </div>
    </div>

    <div class="W_MainEntityBarsFoldersSubClient">
      <div class="O_MainEntityBar folder">
        <div class="W_MainEntityBarContent">
          <div class="W_MainEntityBarContentLeft">
            <div class="A_MainEntityBarToggleButton">
              <div class="A_Text">6</div>
              <div class="A_Text">кабинетов</div>
            </div>

            <div class="M_MainEntityBarTitle">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Рекламодатель</div>
              </div>

              <div class="M_MainEntityBarEntityName">
                <div class="A_MainEntityBarFavButton"></div>

                <div class="A_Text">
                  АНО «Центр помощи и пристройства животных»
                </div>
              </div>
            </div>
          </div>

          <div class="W_MainEntityBarContentRight">
            <div class="A_Button secondary">Создать кабинет</div>
          </div>
        </div>

        <div class="A_MainEntityBarMoreButton"></div>
      </div>

      <div class="C_Entities">
        <div class="O_MainEntityBar accent">
          <div class="W_MainEntityBarContent">
            <div class="W_MainEntityBarContentLeft">
              <div class="M_MainEntityBarTitle">
                <div class="M_LabelsWithDivider">
                  <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div>
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="M_MainEntityBarEntityName">
                  <div class="A_MainEntityBarFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_MainEntityBarContentCenter">
              <div class="M_InfoMark">
                <div class="A_Tooltip">Подключены платные услуги</div>
              </div>

              <div class="A_Chip">Требуется добавление менеджера</div>
            </div>

            <div class="W_MainEntityBarContentRight">
              <div class="C_MainEntityBarAmountRow">
                <div class="M_MainEntityBarAmount">
                  <div class="A_Text">Баланс</div>
                  <div class="A_Text">114.03 ₽</div>
                </div>

                <div class="M_MainEntityBarAmount">
                  <div class="A_Text">К поступлению</div>
                  <div class="A_Text">0 ₽</div>
                </div>
              </div>

              <div class="A_Button secondary">Пополнить</div>
            </div>
          </div>

          <div class="A_MainEntityBarMoreButton"></div>
        </div>
      </div>
    </div>

    <div class="W_MainEntityBarsFoldersSubClient">
      <div class="O_MainEntityBar noMore">
        <div class="W_MainEntityBarContent">
          <div class="W_MainEntityBarContentLeft">
            <div class="M_MainEntityBarTitle">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Рекламодатель</div>
              </div>

              <div class="M_MainEntityBarEntityName">
                <div class="A_MainEntityBarFavButton"></div>

                <div class="A_Text">
                  Автономная некоммерческая благотворительная организация «Центр
                  помощи и пристройства животных»
                </div>
              </div>
            </div>
          </div>

          <div class="W_MainEntityBarContentCenter">
            <div class="A_Chip danger">Заблокирован</div>
          </div>
        </div>
      </div>
    </div>

    <div class="W_MainEntityBarsFoldersSubClient">
      <div class="O_MainEntityBar folder noMore">
        <div class="W_MainEntityBarContent">
          <div class="W_MainEntityBarContentLeft">
            <div class="A_MainEntityBarToggleButton">
              <div class="A_Text">6</div>
              <div class="A_Text">кабинетов</div>
            </div>

            <div class="M_MainEntityBarTitle">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Рекламодатель</div>
              </div>

              <div class="M_MainEntityBarEntityName">
                <div class="A_MainEntityBarFavButton"></div>

                <div class="A_Text">
                  АНО «Центр помощи и пристройства животных»
                </div>
              </div>
            </div>
          </div>

          <div class="W_MainEntityBarContentCenter">
            <div class="A_Chip">В архиве</div>
          </div>
        </div>
      </div>

      <div class="C_Entities">
        <div class="O_MainEntityBar accent noMore">
          <div class="W_MainEntityBarContent">
            <div class="W_MainEntityBarContentLeft">
              <div class="M_MainEntityBarTitle">
                <div class="M_LabelsWithDivider">
                  <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div>
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="M_MainEntityBarEntityName">
                  <div class="A_MainEntityBarFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_MainEntityBarContentCenter">
              <div class="A_Chip">В архиве</div>
            </div>
          </div>
        </div>

        <div class="O_MainEntityBar accent noMore">
          <div class="W_MainEntityBarContent">
            <div class="W_MainEntityBarContentLeft">
              <div class="M_MainEntityBarTitle">
                <div class="M_LabelsWithDivider">
                  <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div>
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="M_MainEntityBarEntityName">
                  <div class="A_MainEntityBarFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_MainEntityBarContentCenter">
              <div class="A_Chip">В архиве</div>
            </div>
          </div>
        </div>

        <div class="O_MainEntityBar accent noMore">
          <div class="W_MainEntityBarContent">
            <div class="W_MainEntityBarContentLeft">
              <div class="M_MainEntityBarTitle">
                <div class="M_LabelsWithDivider">
                  <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div>
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="M_MainEntityBarEntityName">
                  <div class="A_MainEntityBarFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_MainEntityBarContentCenter">
              <div class="A_Chip">В архиве</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
