<div class="v2_T_EntityBarsFolders">
  <div class="W_Client">
    <!--  -->
    <!-- Клиент -->
    <!--  -->
    <div class="v2_O_EntityBar folder">
      <div class="v2_W_CardContent">
        <div class="W_CardContentLeft">
          <div class="v2_A_ToggleOpenBarButton">
            <div class="A_Text">12</div>
            <div class="A_Text">кабинетов</div>
          </div>

          <div class="v2_M_EntityTitleWithDescription">
            <div class="M_LabelsWithDivider">
              <div class="A_Text">Клиент</div>
            </div>

            <div class="v2_M_EntityName">
              <div class="v2_A_EntityFavButton"></div>

              <div class="A_Text">
                АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ БЛАГОТВОРИТЕЛЬНАЯ ОРГАНИЗАЦИЯ «ЦЕНТР
                ПОМОЩИ И ПРИСТРОЙСТВА ЖИВОТНЫХ»
              </div>
            </div>
          </div>
        </div>

        <div class="W_CardContentRight">
          <div class="C_TitleDescRow">
            <div class="M_TitleWithDescription uiProperty">
              <div class="A_Text uiLabel">Баланс</div>
              <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
            </div>
          </div>

          <div class="v2_A_Button secondary">Пополнить</div>
        </div>
      </div>

      <div class="v2_A_EntityMoreButton"></div>
    </div>

    <!--  -->
    <!--  -->
    <!--  -->

    <div class="C_Entities">
      <!--  -->
      <!-- Кабинет -->
      <!--  -->
      <div class="v2_O_EntityBar accent">
        <div class="v2_W_CardContent">
          <div class="W_CardContentLeft">
            <div class="v2_M_EntityTitleWithDescription">
              <div class="M_LabelsWithDivider">
                <!-- <div class="A_Text">Кабинет</div>
                <div class="A_Text">•</div> -->
                <div class="A_Text">
                  АО Петербургский мельничный комбинат ИНН 7810229592
                </div>
              </div>

              <div class="v2_M_EntityName">
                <div class="v2_A_EntityFavButton"></div>
                <div class="A_Text">Маркет-платформа VK</div>
                <a class="A_Text" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentCenter">
            <div class="v2_A_InfoButton"></div>
            <div class="A_Chip">Требуется добавление менеджера</div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>

            <div class="v2_A_Button secondary">Пополнить</div>
          </div>
        </div>

        <div class="v2_A_EntityMoreButton"></div>
      </div>
      <!--  -->
      <!--  -->
      <!--  -->
    </div>
  </div>

  <div class="W_Client">
    <div class="v2_O_EntityBar folder">
      <div class="v2_W_CardContent">
        <div class="W_CardContentLeft">
          <div class="v2_A_ToggleOpenBarButton">
            <div class="A_Text">2</div>
            <div class="A_Text">рекламодателя</div>
          </div>

          <div class="v2_M_EntityTitleWithDescription">
            <div class="M_LabelsWithDivider">
              <div class="A_Text">Агентство</div>
            </div>

            <div class="v2_M_EntityName">
              <div class="v2_A_EntityFavButton"></div>

              <div class="A_Text">
                АВТОНОМНАЯ НЕКОММЕРЧЕСКАЯ БЛАГОТВОРИТЕЛЬНАЯ ОРГАНИЗАЦИЯ «ЦЕНТР
                ПОМОЩИ И ПРИСТРОЙСТВА ЖИВОТНЫХ»
              </div>
            </div>
          </div>
        </div>

        <div class="W_CardContentRight">
          <div class="C_TitleDescRow">
            <div class="M_TitleWithDescription uiProperty">
              <div class="A_Text uiLabel">Баланс</div>
              <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
            </div>
          </div>

          <div class="v2_A_Button secondary">Пополнить</div>
        </div>
      </div>

      <div class="v2_A_EntityMoreButton"></div>
    </div>

    <div class="W_SubClient">
      <div class="v2_O_EntityBar folder">
        <div class="v2_W_CardContent">
          <div class="W_CardContentLeft">
            <div class="v2_A_ToggleOpenBarButton">
              <div class="A_Text">6</div>
              <div class="A_Text">кабинетов</div>
            </div>

            <div class="v2_M_EntityTitleWithDescription">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Рекламодатель</div>
              </div>

              <div class="v2_M_EntityName">
                <div class="v2_A_EntityFavButton"></div>

                <div class="A_Text">
                  АНО «Центр помощи и пристройства животных»
                </div>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="v2_A_Button secondary">Создать кабинет</div>
          </div>
        </div>

        <div class="v2_A_EntityMoreButton"></div>
      </div>

      <div class="C_Entities">
        <div class="v2_O_EntityBar accent">
          <div class="v2_W_CardContent">
            <div class="W_CardContentLeft">
              <div class="v2_M_EntityTitleWithDescription">
                <div class="M_LabelsWithDivider">
                  <!-- <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div> -->
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="v2_M_EntityName">
                  <div class="v2_A_EntityFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_CardContentCenter">
              <div class="v2_A_InfoButton"></div>
              <div class="A_Chip">Требуется добавление менеджера</div>
            </div>

            <div class="W_CardContentRight">
              <div class="C_TitleDescRow">
                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">Баланс</div>
                  <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
                </div>

                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">К поступлению</div>
                  <div class="A_Text uiAccentTextMedium">0 ₽</div>
                </div>
              </div>

              <div class="v2_A_Button secondary">Пополнить</div>
            </div>
          </div>

          <div class="v2_A_EntityMoreButton"></div>
        </div>
      </div>
    </div>

    <div class="W_SubClient">
      <div class="v2_O_EntityBar folder">
        <div class="v2_W_CardContent">
          <div class="W_CardContentLeft">
            <div class="v2_A_ToggleOpenBarButton">
              <div class="A_Text">6</div>
              <div class="A_Text">кабинетов</div>
            </div>

            <div class="v2_M_EntityTitleWithDescription">
              <div class="M_LabelsWithDivider">
                <div class="A_Text">Рекламодатель</div>
              </div>

              <div class="v2_M_EntityName">
                <div class="v2_A_EntityFavButton"></div>

                <div class="A_Text">
                  АНО «Центр помощи и пристройства животных»
                </div>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="v2_A_Button secondary">Создать кабинет</div>
          </div>
        </div>

        <div class="v2_A_EntityMoreButton"></div>
      </div>

      <div class="C_Entities">
        <div class="v2_O_EntityBar accent">
          <div class="v2_W_CardContent">
            <div class="W_CardContentLeft">
              <div class="v2_M_EntityTitleWithDescription">
                <div class="M_LabelsWithDivider">
                  <!-- <div class="A_Text">Кабинет</div>
                  <div class="A_Text">•</div> -->
                  <div class="A_Text">
                    АО Петербургский мельничный комбинат ИНН 7810229592
                  </div>
                </div>

                <div class="v2_M_EntityName">
                  <div class="v2_A_EntityFavButton"></div>
                  <div class="A_Text">Маркет-платформа VK</div>
                  <a class="A_Text" href="">2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_CardContentCenter">
              <div class="v2_A_InfoButton"></div>
              <div class="A_Chip">Требуется добавление менеджера</div>
            </div>

            <div class="W_CardContentRight">
              <div class="C_TitleDescRow">
                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">Баланс</div>
                  <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
                </div>

                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">К поступлению</div>
                  <div class="A_Text uiAccentTextMedium">0 ₽</div>
                </div>
              </div>

              <div class="v2_A_Button secondary">Пополнить</div>
            </div>
          </div>

          <div class="v2_A_EntityMoreButton"></div>
        </div>
      </div>
    </div>
  </div>
</div>
