<div class="T_PayWallModal">
  <div class="S_PayWallWithPromoModal">
    <div class="A_IconButton close"></div>

    <div class="O_PayWallContent">
      <div class="O_PayWallContentHeader">
        <div class="M_TitleWithDescription">
          <div class="A_Text displayHeading3">Пополнить баланс кабинета</div>
        </div>
      </div>

      <div class="O_PayWallContentPaymentForm">
        <div class="M_TabBar">
          <div class="A_TabButton active">С баланса клиента</div>
          <div class="A_TabButton">По карте</div>
          <div class="A_TabButton">Запросить счёт</div>
        </div>

        <div class="C_Entities">
          <div class="O_EntityBar">
            <div class="W_CardContentLeft">
              <div class="M_TitleWithDescription uiProperty">
                <div class="M_LabelsWithDivider">
                  <span class="A_Text uiLabel">Клиент</span>
                </div>

                <div class="A_Text uiAccentTextMedium">
                  Амирова Гузель Ильфатовна
                </div>
              </div>
            </div>

            <div class="W_CardContentRight">
              <div class="C_TitleDescRow">
                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">Деньги</div>
                  <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
                </div>

                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">Бонусы</div>
                  <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
                </div>
              </div>
            </div>
          </div>

          <div class="O_EntityBar accent">
            <div class="W_CardContentLeft">
              <div class="M_TitleWithDescription uiProperty">
                <div class="M_LabelsWithDivider">
                  <span>Кабинет</span>
                </div>

                <div class="M_CabinetNameWithId">
                  <span>Маркет-платформа VK</span>
                  <a>2003697207</a>
                </div>
              </div>
            </div>

            <div class="W_CardContentRight">
              <div class="C_TitleDescRow">
                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">Баланс</div>
                  <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
                </div>

                <div class="M_TitleWithDescription uiProperty">
                  <div class="A_Text uiLabel">К поступлению</div>
                  <div class="A_Text uiAccentTextMedium">0 ₽</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="C_FormFields">
          <div class="M_FormField">
            <div class="A_Text uiFormLabel">Сумма пополнения в рублях</div>

            <div class="A_Input uiFormText">
              1 900 000 ₽макс. 1 844 390.12 ₽
            </div>

            <div class="A_Text uiLabel">
              Сумма не должна превышать доступный остаток
            </div>
          </div>

          <div class="M_FormField">
            <div class="A_Text uiFormLabel">
              Поступит на баланс кабинета после вычета НДС
            </div>

            <div class="A_Input uiFormText">
              Введите суммумакс. 1 744 390.12 ₽
            </div>
          </div>

          <div class="M_FormField">
            <div class="A_Text uiFormLabel">Комментарий</div>
            <div class="A_Textarea uiFormText">Оставьте комментарий</div>
          </div>
        </div>
      </div>

      <div class="O_PayWallContentActionBar">
        <div class="M_TwoRowButtonSet">
          <div class="A_Button primary">Пополнить с баланса клиента</div>

          <div class="M_ButtonSet">
            <div class="A_Button secondary">Скопировать ссылку на оплату</div>
            <div class="A_Button secondary muted">Отменить</div>
          </div>
        </div>
      </div>
    </div>

    <div class="O_PromoContent">
      <div class="W_PromoTextCenterizer">
        <div class="W_PromoTextScrollArea">
          <div class="M_PayWallWithPromoPromoText">
            <div class="Q_Logo"></div>

            <h1>Рекламная акция</h1>

            <div class="descriptor">
              Действует с 24 декабря 2024 г. по 22 февраля 2025 г.
            </div>

            <p>
              Введите секретный промокод при пололнении кабинета и получите
              бонус на каждый: VK Таргет, VK Реклама, Маркет-платформа VK, VK
              AdBlogger
            </p>

            <p>
              Промокод можно использовать на каждом из кабинетов для одного
              клиента. Только с 23 до 26 декабря 2024 г.
            </p>

            <p>
              Условие: пополните кабинет одним платяжом на сумму от 7 900₽ —
              потучите бонус:
            </p>

            <ul>
              <li>7 500–9 999 ₽ — бонус: 500 ₽</li>
              <li>10 000–29 999 ₽ — бонус: 500 ₽</li>
              <li>7500–9999 — бонус: 500 ₽</li>
            </ul>

            <h2>Введите секретный промокод</h2>

            <p>
              Промокод находится в 1 новогодном гайде от сообщества «Секретный
              наработки Церебро»
            </p>

            <p>Промокод действует только на одно пополнение одним платежом.</p>

            <p>
              <a class="A_PromoContentLink">Подробные условия акции</a>
            </p>
          </div>
        </div>
      </div>

      <div class="W_PromoCodeCenterizer">
        <div class="M_FormField">
          <div class="A_Text">Промокод</div>
          <div class="A_Input">JASJA24AS</div>
        </div>

        <div class="Q_ScrollAreaFader"></div>
      </div>
    </div>
  </div>
</div>
