.A_Avatar {
  width: var(--A_Avatar-width);
  min-width: var(--A_Avatar-width);
  height: var(--A_Avatar-height);
  border-radius: var(--A_Avatar-border-radius);
  background-color: var(--border-default);
}
