:root {
  --A_Avatar-width: 40px;
  --A_Avatar-height: 40px;
  --A_Avatar-border-radius: 20px;
}

@media (max-width: 1500px) {
  :root {
    --A_Avatar-width: 32px;
    --A_Avatar-height: 32px;
    --A_Avatar-border-radius: 16px;
  }
}
