.A_Breadcrumb {
  display: block;

  /* ui-accent-text-medium */
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: var(--ui-accent-text-medium-font-size);
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height);

  text-decoration: none;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  color: var(--interactive-initial);

  &:hover {
    color: var(--interactive-hover);
  }

  &.active {
    color: var(--text-primary);

    &:hover {
      color: var(--text-primary);
    }
  }
}
