:root {
  --A_Button-primary_default-padding-vertical: 10px;
  --A_Button-primary_default-padding-horizontal: 24px;
  --A_Button-primary_default-border-radius: 4px;
  --A_Button-primary_large-padding-vertical: 16px;
  --A_Button-primary_large-padding-horizontal: 38px;
  --A_Button-primary_large-border-radius: 8px;
  --A_Button-secondary_icon-border-button-small-vertical: 8px;
  --A_Button-secondary_icon-border-button-small-horizontal: 8px;
  --A_Button-secondary_icon-border-radius: 4px;
  --A_Button-secondary-default-padding-vertical: 12px;
  --A_Button-secondary-default-padding-horizontal: 6px;
}

@media (max-width: 1535px) {
  :root {
    --A_Button-primary_default-padding-vertical: 10px;
    --A_Button-primary_default-padding-horizontal: 24px;
    --A_Button-primary_default-border-radius: 4px;
    --A_Button-primary_large-padding-vertical: 0px;
    --A_Button-primary_large-padding-horizontal: 0px;
    --A_Button-primary_large-border-radius: 0px;
    --A_Button-secondary_icon-border-button-small-vertical: 6px;
    --A_Button-secondary_icon-border-button-small-horizontal: 6px;
    --A_Button-secondary_icon-border-radius: 4px;
    --A_Button-secondary-default-padding-vertical: 0px;
    --A_Button-secondary-default-padding-horizontal: 0px;
  }
}
