:root {
  --A_Button-primary-border-radius: 4px;

  --A_Button-primary-padding-vertical: 10px;
  --A_Button-primary-padding-horizontal: 24px;

  /* prettier-ignore */
  --A_Button-primary-padding:
    var(--A_Button-primary-padding-vertical)
    var(--A_Button-primary-padding-horizontal);

  --A_Button-secondary-padding-vertical: calc(10px - var(--border-width));
  --A_Button-secondary-padding-horizontal: calc(24px - var(--border-width));

  /* prettier-ignore */
  --A_Button-secondary-padding:
    var(--A_Button-secondary-padding-vertical)
    var(--A_Button-secondary-padding-horizontal);
}

@media (min-width: 1024px) and (max-width: 1536px) {
  :root {
    --A_Button-primary-padding-vertical: 9px;
    --A_Button-primary-padding-horizontal: 20px;
    --A_Button-primary-border-radius: 4px;

    /* prettier-ignore */
    --A_Button-secondary-padding-vertical: calc(
      9px -
      var(--border-width)
    );

    /* prettier-ignore */
    --A_Button-secondary-padding-horizontal: calc(
      20px -
      var(--border-width)
    );
  }
}
