.A_Button {
  display: inline-block;
  text-decoration: none;
  font-family: var(--font-family);
  font-size: var(--ui-button-text-font-size);
  font-weight: var(--ui-button-text-font-weight);
  line-height: var(--ui-button-text-line-height);
  text-wrap: nowrap;

  &.primary {
    cursor: pointer;
    padding: var(--A_Button-primary-padding);
    border-radius: var(--A_Button-primary-border-radius);
    background-color: var(--interactive-initial);
    color: var(--text-inverted);
    text-align: center;

    &:hover {
      background-color: var(--interactive-hover);
    }

    .disabled {
      cursor: not-allowed;
      background-color: var(--interactive-disabled);

      &:hover {
        background-color: var(--interactive-disabled);
      }
    }
  }

  &.secondary {
    cursor: pointer;

    padding: var(--A_Button-secondary-padding);
    border-radius: var(--A_Button-primary-border-radius);
    border: var(--border-width) solid var(--interactive-initial);
    background-color: var(--card-bg-default);

    color: var(--interactive-initial);
    text-align: center;

    &:hover {
      color: var(--interactive-hover);
      border-color: var(--interactive-hover);
    }

    .disabled {
      cursor: not-allowed;
      color: var(--interactive-disabled);
      border-color: var(--interactive-disabled);

      &:hover {
        cursor: not-allowed;
      }
    }
  }

  &.tertiary {
    cursor: pointer;

    color: var(--interactive-initial);
    text-align: center;

    &:hover {
      color: var(--interactive-hover);
    }

    &.muted {
      color: var(--text-muted);

      &:hover {
        color: var(--text-muted);
      }
    }
  }
}
