.A_Button {
  display: inline-block;

  /* ui-button-text-default */
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px);

  &.primary {
    cursor: pointer;

    padding: var(--A_Button-primary_default-padding-vertical, 10px)
      var(--A_Button-primary_default-padding-horizontal, 24px);

    border-radius: var(--A_Button-primary_default-border-radius, 4px);
    background: var(--interactive-initial, #629e8e);

    color: var(--text-inverted, #fff);
    text-align: center;

    &:hover {
      background: var(--interactive-hover, #36c99a);
    }

    .disabled {
      cursor: not-allowed;
      background: var(--interactive-disabled, #9b9b9b);

      &:hover {
        cursor: not-allowed;
        background: var(--interactive-disabled, #9b9b9b);
      }
    }
  }

  &.secondary {
    cursor: pointer;

    color: var(--interactive-initial, #629e8e);
    text-align: center;

    &:hover {
      color: var(--interactive-hover, #629e8e);
    }

    &.muted {
      color: var(--text-muted, #9b9b9b);

      &:hover {
        color: var(--text-muted, #9b9b9b);
      }
    }
  }
}
