.A_Chip {
  --A_Chip-padding-vertical: 8px;
  --A_Chip-padding-horizontal: 6px;
}

@media (max-width: 1280px) {
  .A_Chip {
    --A_Chip-padding-vertical: 6px;
    --A_Chip-padding-horizontal: 4px;
  }
}
