.A_Chip {
  padding: var(--A_Chip-padding-horizontal) var(--A_Chip-padding-vertical);
  border-radius: var(--A_Chip-border-radius);
  border: var(--border-width) solid var(--text-muted);
  font-family: var(--font-family);
  font-size: var(--ui-chip-font-size);
  line-height: var(--ui-chip-line-height);
  font-weight: var(--ui-chip-font-weight);
  text-align: center;
  text-wrap: nowrap;
  color: var(--text-muted);

  &.danger {
    border: var(--border-width) solid var(--danger);
    color: var(--danger);
  }
}
