.A_Input {
  --A_Input-default-border-radius: 8px;
  --A_Input-max_sum-gap: 12px;
  --A_Input-padding-vertical: 16px;
  --A_Input-padding-horizontal: 16px;

  width: 100%;
  height: 52px;
  padding: var(--A_Input-padding-vertical, 16px)
    var(--A_Input-padding-horizontal, 16px);
  border-radius: var(--A_Input-default-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);

  /* ui-form-text */
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: var(--ui-form-text-font-size, 16px);
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px);

  color: var(--form-input-text, #4d4f4f);
  text-align: center;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--form-input-placeholder, #989b9a);
  }
}

@media (max-width: 1280px) {
  .A_Input {
    --A_Input-default-border-radius: 8px;
    --A_Input-max_sum-gap: 10px;
    --A_Input-padding-vertical: 12px;
    --A_Input-padding-horizontal: 12px;
  }
}
