.A_InputButton {
  cursor: pointer;

  /* ui-form-text */
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: var(--ui-form-text-font-size);
  font-weight: 500;
  line-height: var(--ui-form-text-line-height);

  color: var(--interactive-initial);

  &:hover {
    color: var(--interactive-hover);
  }
}
