.A_MainEntityBarMoreButton {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--A_MainEntityBarMoreButton-size);
  height: var(--A_MainEntityBarMoreButton-size);
  min-width: var(--A_MainEntityBarMoreButton-size);
  max-width: var(--A_MainEntityBarMoreButton-size);

  /* v2 EXTRA */
  /* background-color: var(--v2-icon-button-background); */
  /* transition: all 0.1s ease-in-out; */

  &::before {
    content: var(--icon-more);
    display: block;
    font-family: var(--icon-font);
    font-size: var(--A_MainEntityBarMoreButton-font-size);
    line-height: var(--A_MainEntityBarMoreButton-line-height);
    color: var(--icon-default);
    text-align: center;
    /* transition: all 0.3s ease-in-out; */
    speak: none;
  }

  /* v2 EXTRA */
  /* &:hover {
    background-color: var(--v2-icon-button-background-hover);
  } */
}
