.A_TabButton {
  cursor: pointer;

  display: inline-block;
  /* display: inline-flex; */
  /* align-items: center; */

  padding: var(--A_TabButton-padding-vertical)
    var(--A_TabButton-padding-horizontal);

  border-radius: var(--A_TabButton-border-radius);
  background: var(--tab-bar-inactive-background);

  color: var(--text-secondary);

  /* ui-tab-button-text */
  font-family: 'PT Root UI';
  font-size: var(--ui-tab-button-text-font-size);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-tab-button-text-line-height); /* 133.333% */

  &:hover {
    background: var(--tab-bar-hover-background);
  }

  &.active {
    background: var(--tab-bar-active-background);
    box-shadow: 0px 4px 4px 0px var(--shadow-default);
  }
}
