:root {
  --A_TabButton-padding-horizontal: 20px;
  --A_TabButton-padding-vertical: 12px;
  --A_TabButton-border-radius: 4px;
}

@media (max-width: 1500px) {
  :root {
    --A_TabButton-padding-horizontal: 16px;
    --A_TabButton-padding-vertical: 12px;
    --A_TabButton-border-radius: 4px;
  }
}
