.L_InternalPageWithSideBar {
  & > .S_NoticeBar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }

  .S_SideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;

    .O_SideBarHome {
      .W_SideBarHomeRight {
        display: none;
      }
    }
  }

  .S_NavigationBar {
    position: fixed;
    top: 0;
    left: var(--S_SideBar-width);
    width: calc(100vw - var(--S_SideBar-width));

    .O_MenuBar {
      .W_MenuBarLeft {
        .A_IconButton {
          display: none;
        }
      }
    }
  }

  .W_InternalPageWithSideBarScrollArea {
    display: flex;
    justify-content: center;
    width: 100vw;
    padding-top: var(--O_MenuBar-height);

    padding-left: calc(
      var(--S_SideBar-width) +
        var(--W_InternalPageWithSideBarScrollArea-content-padding-horizontal)
    );

    padding-right: var(
      --W_InternalPageWithSideBarScrollArea-content-padding-horizontal
    );

    & > * {
      width: 100%;
      max-width: var(--W_InternalPageWithSideBarScrollArea-content-max-width);
    }

    .C_Entities {
      display: flex;
      flex-direction: column;
      gap: var(--C_Entities-gap);
      padding: var(--C_Entities-gap) 0;
    }
  }

  .T_PayWallModal {
    display: none;
  }

  &.notice {
    .S_SideBar {
      top: var(--S_NoticeBar-height);
      height: calc(100% - var(--S_NoticeBar-height));
    }

    .S_NavigationBar {
      top: var(--S_NoticeBar-height);
    }

    .W_InternalPageWithSideBarScrollArea {
      padding-top: calc(var(--S_NoticeBar-height) + var(--O_MenuBar-height));
    }
  }

  &.modal {
    overflow: hidden;

    .T_PayWallModal {
      display: flex;
    }
  }
}

@media (max-width: 1193px) {
  .L_InternalPageWithSideBar {
    &.menu {
      overflow: hidden;

      .S_SideBar {
        display: flex;
        z-index: 9;
        border-right: none;

        .O_SideBarHome {
          .W_SideBarHomeRight {
            display: block;
          }
        }
      }
    }

    .S_SideBar {
      display: none;
    }

    .S_NavigationBar {
      width: 100vw;
      left: 0;

      .O_MenuBar {
        .W_MenuBarLeft {
          .A_IconButton {
            display: block;
          }

          .M_Breadcrumbs {
            overflow-x: auto;
          }
        }
      }
    }

    .W_InternalPageWithSideBarScrollArea {
      padding-left: var(
        --W_InternalPageWithSideBarScrollArea-content-padding-horizontal
      );

      padding-right: var(
        --W_InternalPageWithSideBarScrollArea-content-padding-horizontal
      );
    }
  }
}

@media (max-width: 767px) {
  .L_InternalPageWithSideBar {
    .S_NavigationBar {
      .O_MenuBar {
        .W_MenuBarLeft {
          flex: 1 0 auto;

          .M_Breadcrumbs {
            display: flex;
            justify-content: center;
            width: 100%;

            .A_Breadcrumb {
              max-width: calc(100vw - 144px);
              text-align: center;
            }

            .A_Breadcrumb:not(:last-child),
            .Q_Icon {
              display: none;
            }
          }
        }

        .W_MenuBarRight {
          flex: 0 1 auto;
        }
      }
    }

    /* .W_InternalPageWithSideBarScrollArea { */
    /* .C_Entities { */

    /* } */

    .O_EntityBar {
      /* display: block; */
      flex-direction: column;
      gap: 12px;

      .W_CardContentLeft {
      }

      .W_CardContentRight {
        justify-content: flex-start;
      }
    }
    /* } */
  }
}
