/* 🔴 Check */

:root {
  --W_InternalPageWithSideBarScrollArea-max-width: 1280px;
  --W_InternalPageWithSideBarScrollArea-padding-horizontal: 40px;
}

@media (max-width: 1536px) {
  :root {
    --W_InternalPageWithSideBarScrollArea-max-width: 1068px;
    --W_InternalPageWithSideBarScrollArea-padding-horizontal: 32px;
  }
}

@media (max-width: 767px) {
  :root {
    --W_InternalPageWithSideBarScrollArea-padding-horizontal: 16px;
  }
}
