.M_CabinetNameWithId {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--M_CabinetNameWithId-gap);

  /* ui-accent-text-medium */
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-size: var(--ui-accent-text-medium-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height); /* 125% */

  span {
    color: var(--text-primary);
  }

  a {
    color: var(--interactive-initial);
    text-decoration: none;

    &:hover {
      color: var(--interactive-hover);
    }
  }
}
