.M_FormField {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: var(--M_FormField-gap);

  & > * {
    width: 100%;
  }

  &.error {
    .A_Input {
      border: 1px solid var(--danger);
    }

    .A_FormFieldMessage {
      color: var(--danger);
    }
  }
}
