.M_LabelsWithDivider {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--M_LabelsWithDivider-gap);
  font-size: var(--ui-label-font-size);
  line-height: var(--ui-label-line-height);
  color: var(--text-secondary);
  overflow-x: auto;

  .A_Text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;

    &:last-child {
      flex: 1 1 0;
    }
  }
}
