.M_PayWallWithPromoPromoText {
  width: var(--M_PayWallWithPromoPromoText, 504px);
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  color: var(--text-primary, #000);

  h1 {
    margin-top: var(--M_PayWallWithPromoPromoText-h1-margin-top, 12px);
    /* ui-heading-1 */
    font-size: var(--ui-heading-1-font-size, 24px);
    font-weight: 700;
    line-height: var(--ui-heading-1-line-height, 30px);
  }

  h2 {
    margin-top: var(--M_PayWallWithPromoPromoText-h2-margin-top, 24px);
    /* ui-heading-2 */
    font-size: var(--ui-heading-2-font-size, 20px);
    font-weight: 700;
    line-height: var(--ui-heading-2-line-height, 32px);
  }

  .descriptor {
    margin-top: var(--M_PayWallWithPromoPromoText-descriptor-margin-top, 6px);
    color: var(--text-muted, #9b9b9b);

    /* ui-descriptor */
    font-size: var(--ui-descriptor-font-size, 16px);
    font-weight: 500;
    line-height: var(--ui-descriptor-line-height, 22px);
  }

  p {
    margin-top: var(--ui-paragraph-medium-paragraph-spacing, 16px);

    /* ui-paragraph-medium */
    font-size: var(--ui-paragraph-medium-font-size, 20px);
    font-weight: 500;
    line-height: var(--ui-paragraph-medium-line-height, 32px);

    &:first-of-type {
      margin-top: var(--M_PayWallWithPromoPromoText-p_first-margin-top, 32px);
    }
  }

  ul {
    list-style-type: disc;
    list-style-position: inside;
  }

  ol {
    list-style-type: decimal;
    list-style-position: inside;
  }

  li {
    margin-top: var(--M_PayWallWithPromoPromoText-li-margin-top, 8px);
    /* ui-list-item */
    font-size: var(--ui-list-item-font-size, 20px);
    font-weight: 500;
    line-height: var(--ui-list-item-line-height, 30px);
  }

  ul ul,
  ol ul {
    margin-top: var(--document-list-list-margin-top);
    /* margin-bottom: var(--document-list-list-margin-bottom); */
    /* margin-left: var(--document-list-list-margin-left); */
    list-style-type: circle;
    list-style-position: inside;
  }

  ol ol,
  ul ol {
    margin-top: var(--M_PayWallWithPromoPromoText-list-list-margin-top, 16px);
    /* margin-left: var(--document-list-list-margin-left); */
    list-style-type: lower-latin;
    list-style-position: inside;
  }

  p + ol,
  p + ul {
    margin-top: var(--M_PayWallWithPromoPromoText-p-list-margin-top, 6px);
  }

  ol + ol,
  ul + ul,
  ol + ul,
  ul + ol,
  ol + p,
  ul + p {
    margin-top: var(--M_PayWallWithPromoPromoText-list-p-margin-top, 16px);
  }

  a {
    color: var(--interactive-initial, #629e8e);
  }

  a:link {
    color: var(--interactive-initial, #629e8e);
  }

  a:visited {
    color: var(--interactive-initial, #629e8e);
  }

  a:hover {
    color: var(--interactive-hover, #629e8e);
  }

  a:active {
    color: var(--interactive-hover, #629e8e);
  }
}
