.M_TabBar {
  display: inline-flex;
  padding: var(--M_TabBar-padding);
  align-items: center;

  border-radius: var(--M_TabBar-border-radius);
  border: 1px solid var(--form-input-border);
  background: var(--form-input-background);

  box-shadow: 0px 4px 4px 0px var(--shadow-default);
}
