:root {
  --O_EntityBar-padding: 24px;
  --O_EntityBar-padding-extended: 48px;
  --O_EntityBar-gap: 24px;
}

@media (max-width: 1536px) {
  :root {
    --O_EntityBar-padding: 20px;
    --O_EntityBar-padding-extended: 46px;
    --O_EntityBar-gap: 20px;
  }
}
