.O_EntityBar {
  display: flex;
  padding: var(--O_EntityBar-padding);
  justify-content: space-between;
  align-items: stretch;
  gap: var(--O_EntityBar-gap);
  border-radius: 8px;

  border: 1px solid var(--border-default);
  background: var(--card-bg-default);
  box-shadow: 0px 4px 4px 0px var(--shadow-default);

  &.accent {
    border: 1px solid var(--border-accent);
    background: var(--card-bg-accent);
    box-shadow: 0px 4px 4px 0px var(--shadow-accent);
  }

  .W_CardContentLeft {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: var(--O_EntityBar-gap);
    flex: 1 0 0;
  }

  .W_CardContentRight {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end;
    gap: var(--O_EntityBar-gap);

    /* .C_TitleDescRow {
      display: flex;
      align-items: flex-start;
      gap: var(--O_EntityBar-gap, 24px);
    } */
  }

  .C_TitleDescRow {
    display: flex;
    align-items: flex-start;
    gap: var(--O_EntityBar-gap, 24px);
  }
}
