.O_EntityBar {
  display: flex;
  padding: var(--O_EntityBar-padding);
  justify-content: space-between;
  align-items: stretch;
  gap: var(--O_EntityBar-gap);
  border-radius: 8px;

  border: 1px solid var(--border-default-color);
  background: var(--card-bg-default);
  box-shadow: 0px 4px 4px 0px var(--shadow-default-color);

  &.accent {
    border: 1px solid var(--border-accent-color);
    background: var(--card-bg-accent);
    box-shadow: 0px 4px 4px 0px var(--shadow-accent);
  }

  &.folder {
    .W_CardContentLeft {
      padding-left: calc(36px + 12px);
    }

    &.opened {
      .W_CardContentLeft {
        .A_ToggleOpenBarButton {
          .Q_Icon {
            transform: rotate(90deg);
          }
        }
      }
    }
  }

  &.iconButton {
    .W_CardContentRight {
      padding-right: calc(36px + 12px);

      .A_IconButton {
        position: absolute;
        top: 2px;
        right: 0;
      }
    }
  }

  .W_CardContentLeft {
    position: relative;
    flex: 1 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--O_EntityBar-gap);
    overflow-x: auto;
  }

  .W_CardContentRight {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--O_EntityBar-gap);

    /* .C_TitleDescRow {
      display: flex;
      align-items: flex-start;
      gap: var(--O_EntityBar-gap, 24px);
    } */
  }

  .C_TitleDescRow {
    display: flex;
    align-items: flex-start;
    gap: var(--O_EntityBar-gap, 24px);
  }
}

@media (max-width: 767px) {
  .O_EntityBar {
    &.iconButton {
      .W_CardContentLeft {
        padding-right: calc(36px + 12px);
      }

      .W_CardContentRight {
        .A_IconButton {
          top: -46px;
        }
      }
    }

    .W_CardContentLeft {
      overflow: visible;
    }
  }
}
