.O_MenuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  height: var(--O_MenuBar-height);
  padding: var(--O_MenuBar-padding-vertical) var(--O_MenuBar-padding-horizontal);
  border-bottom: 1px solid var(--border-default-color);

  .W_MenuBarLeft {
    display: flex;
    gap: 24px;
    min-width: 0;
  }

  .W_MenuBarRight {
    display: flex;
    justify-content: flex-end;
  }
}
