.O_PayWallContent {
  display: flex;
  width: var(--O_PayWallContent-width);
  min-width: 564px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;

  border-right: 1px solid var(--border-default-color);
}
