:root {
  --O_PayWallContentPaymentForm-padding-top: 12px;
  --O_PayWallContentPaymentForm-padding-bottom: 36px;
}

@media (max-width: 1535px) {
  :root {
    --O_PayWallContentPaymentForm-padding-top: 6px;
    --O_PayWallContentPaymentForm-padding-bottom: 26px;
  }
}
