.O_PromoContent {
  display: flex;
  width: var(--O_PromoContent-width, 600px);
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;

  .W_PromoTextCenterizer {
    flex: 1 0 0;
  }

  .W_PromoCodeCenterizer {
  }
}
