.O_PromoContent {
  display: flex;
  width: var(--O_PromoContent-width);
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;

  .W_PromoTextCenterizer {
    flex: 1 0 0;
    overflow-y: scroll;
  }

  .W_PromoCodeCenterizer {
    position: relative;
    width: 100%;
    padding: var(--S_PayWallWithPromo-footer-padding-vertical)
      var(--S_PayWallWithPromo-padding-horizontal);

    .A_Label,
    .A_Input {
      text-align: left;
    }
  }
}
