.O_PromoContent {
  --O_PromoContent-width: 600px;

  display: flex;
  width: var(--O_PromoContent-width, 600px);
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;

  .W_PromoTextCenterizer {
    flex: 1 0 0;
    overflow-y: scroll;
  }

  .W_PromoCodeCenterizer {
    position: relative;
    width: 100%;
    padding: var(--S_PayWallWithPromo-footer-padding-vertical, 12px)
      var(--S_PayWallWithPromo-padding-horizontal, 48px);

    .A_Label,
    .A_Input {
      text-align: left;
    }
  }
}

@media (max-width: 1280px) {
  .O_PromoContent {
    --O_PromoContent-width: 520px;
  }
}
