.Q_Icon {
  width: var(--Q_Icon-width);
  min-width: var(--Q_Icon-width);
  height: var(--Q_Icon-height);
  font-family: 'tabler-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &::before {
    display: block;
    text-align: center;
    font-size: var(--Q_Icon-font-size);
    color: var(--icon-default);
  }

  &.chevron-right::before {
    content: '\ea61';
  }

  &.close::before {
    content: '\eb55';
  }

  &.burger::before {
    content: '\ec42';
  }

  &.dots::before {
    content: '\ea95';
  }
}
