.T_EntityBarsFolders {
  .W_Client {
    margin-top: 36px;
    padding-bottom: 36px;

    &:first-child {
      margin-top: 20px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-default);
    }

    & > .O_EntityBar:not(.opened) ~ .W_SubClient {
      display: none;
    }

    .W_SubClient {
      margin-top: 24px;

      & > .O_EntityBar:not(.opened) ~ .C_Entities {
        display: none;
      }
    }
  }
}
