.T_MainEntityBarsFolders {
  .W_Client {
    margin-top: 36px;
    padding-bottom: 36px;

    &:first-child {
      margin-top: 20px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-default);
    }

    & > .O_MainEntityBar:not(.opened) ~ .W_SubClient,
    & > .O_MainEntityBar:not(.opened) ~ .C_Entities {
      display: none;
    }

    .W_SubClient {
      margin-top: 24px;

      & > .O_MainEntityBar:not(.opened) ~ .C_Entities {
        display: none;
      }
    }
  }

  .C_Entities {
    display: flex;
    flex-direction: column;
    gap: var(--C_Entities-gap);
    padding: var(--C_Entities-gap) 0 0;
  }
}
