:root {
  --A_ToggleOpenButton-padding-horizontal: 4px;
  --A_ToggleOpenButton-padding-vertical: 4px;
}

@media (max-width: 1500px) {
  :root {
    --A_ToggleOpenButton-padding-horizontal: 4px;
    --A_ToggleOpenButton-padding-vertical: 4px;
  }
}
