:root {
  --M_TitleWithDescription-column_display_h3_p2-gap: 12px;
  --M_TitleWithDescription-ui_property-gap: 4px;
}

@media (max-width: 1535px) {
  :root {
    --M_TitleWithDescription-column_display_h3_p2-gap: 10px;
    --M_TitleWithDescription-ui_property-gap: 4px;
  }
}
