.v2_M_EntityTitleWithDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap);

  width: calc(100% - 36px - 12px);

  .A_Text {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: min-content;
  }

  .M_LabelsWithDivider {
    font-family: 'PT Root UI', Helvetica, Arial, sans-serif;
    font-size: var(--ui-label-font-size);
    line-height: var(--ui-label-line-height);
    font-weight: 400;
  }
}
