.v2_O_EntityBar {
  cursor: pointer;

  display: flex;
  padding: var(--O_EntityBar-padding);
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  border-radius: 8px;

  border: 1px solid var(--border-default);
  background: var(--card-bg-default);
  box-shadow: 0px 4px 4px 0px var(--shadow-default);
  transition: all 0.3s ease-in-out;

  .v2_W_CardContent {
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 24px;
    width: 100%;

    .W_CardContentLeft {
      flex: 1 0 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      gap: 12px;
      overflow-x: auto;
    }

    .W_CardContentCenter {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: 8px;
    }

    .W_CardContentRight {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      gap: var(--O_EntityBar-gap);
    }
  }

  &.accent {
    border: 1px solid var(--border-accent);
    background: var(--card-bg-accent);
    box-shadow: 0px 4px 4px 0px var(--shadow-accent);

    .v2_A_InfoButton,
    .v2_A_EntityMoreButton {
      background-color: var(--card-bg-accent);
    }
  }

  &.folder {
    .v2_W_CardContent {
      width: calc(100% - 36px - 12px);
    }

    &.opened {
      .v2_A_ToggleOpenBarButton::before {
        transform: rotate(90deg);
      }
    }

    /* v2 EXTRA */

    &:hover {
      background: var(--card-bg-hover);
      border: 1px solid var(--v2-card-border-hover);
      box-shadow: 0 4px 4px 0 var(--v2-card-shadow-hover);
    }
  }

  .C_TitleDescRow {
    display: flex;
    align-items: flex-start;
    gap: var(--O_EntityBar-gap, 24px);
  }
}

@media (max-width: 767px) {
}
