<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout</title>
  </head>

  <body class="L_InternalPageWithSideBar notice">
    <S_NoticeBar></S_NoticeBar>
    <S_SideBar></S_SideBar>
    <S_NavigationBar></S_NavigationBar>

    <div class="W_InternalPageWithSideBarScrollArea">
      <T_MainEntityBarsFolders></T_MainEntityBarsFolders>
    </div>

    <!-- <div class="T_PayWallModal"></div> -->
  </body>
</html>
