<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Layout</title>
  </head>

  <body class="L_InternalPageWithSideBar notice">
    <S_NoticeBar></S_NoticeBar>
    <S_SideBar></S_SideBar>
    <S_NavigationBar></S_NavigationBar>

    <div class="W_InternalPageWithSideBarScrollArea">
      <div class="C_Entities">
        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Клиент</span>
              </div>

              <div class="A_Text uiAccentTextMedium">
                Амирова Гузель Ильфатовна
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Деньги</div>
                <div class="A_Text uiAccentTextMedium">1 844 390.12 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Бонусы</div>
                <div class="A_Text uiAccentTextMedium">342 112.83 Ç</div>
              </div>
            </div>
          </div>
        </div>

        <div class="O_EntityBar accent">
          <div class="W_CardContentLeft">
            <div class="M_TitleWithDescription uiProperty">
              <div class="M_LabelsWithDivider">
                <span class="A_Text uiLabel">Кабинет</span>
              </div>

              <div class="M_CabinetNameWithId">
                <span class="A_Text uiAccentTextMedium">Маркет-платформа VK</span>
                <a class="A_Text uiAccentTextMedium" href="">2003697207</a>
              </div>
            </div>
          </div>

          <div class="W_CardContentRight">
            <div class="C_TitleDescRow">
              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">Баланс</div>
                <div class="A_Text uiAccentTextMedium">114.03 ₽</div>
              </div>

              <div class="M_TitleWithDescription uiProperty">
                <div class="A_Text uiLabel">К поступлению</div>
                <div class="A_Text uiAccentTextMedium">0 ₽</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="T_PayWallModal"></div>
  </body>
</html>
