/* Medium Desktop */
:root {
  --ui-heading-1-font-size: 24px;
  --ui-heading-1-line-height: 30px;

  --ui-heading-2-font-size: 20px;
  --ui-heading-2-line-height: 32px;

  --ui-descriptor-font-size: 16px;
  --ui-descriptor-line-height: 22px;

  --ui-paragraph-medium-font-size: 20px;
  --ui-paragraph-medium-line-height: 32px;
  --ui-paragraph-medium-paragraph-spacing: 16px;

  --ui-list-item-font-size: 20px;
  --ui-list-item-line-height: 30px;
  --ui-list-item-list-spacing: 8px;

  --ui-button-text-font-size: 14px;
  --ui-button-text-line-height: 20px;
  --ui-button-text-font-weight: 500;

  --ui-button-text-large-font-size: 18px;
  --ui-button-text-large-line-height: 24px;

  --ui-tab-button-text-font-size: 18px;
  --ui-tab-button-text-line-height: 24px;

  --ui-chip-text-font-size: 10px;
  --ui-chip-text-line-height: 13px;
  --ui-chip-text-font-weight: 500;

  --ui-label-font-size: 12px;
  --ui-label-line-height: 16px;
  --ui-label-font-weight: 400;

  --ui-accent-text-medium-font-size: 16px;
  --ui-accent-text-medium-line-height: 20px;
  --ui-accent-text-medium-font-weight: 700;

  --ui-form-label-font-size: 16px;
  --ui-form-label-line-height: 20px;
  --ui-form-text-font-size: 16px;
  --ui-form-text-line-height: 20px;
  --display-heading-3-font-size: 24px;
  --display-heading-3-line-height: 37px;
}

/* Small Desktop */
@media (max-width: 1536px) {
  :root {
    --ui-heading-1-font-size: 22px;
    --ui-heading-1-line-height: 28px;
    --ui-heading-2-font-size: 18px;
    --ui-heading-2-line-height: 30px;
    --ui-descriptor-font-size: 14px;
    --ui-descriptor-line-height: 20px;
    --ui-paragraph-medium-font-size: 18px;
    --ui-paragraph-medium-line-height: 30px;
    --ui-paragraph-medium-paragraph-spacing: 14px;
    --ui-list-item-font-size: 18px;
    --ui-list-item-line-height: 28px;
    --ui-list-item-list-spacing: 6px;
    --ui-button-text-large-font-size: 16px;
    --ui-button-text-large-line-height: 22px;
    --ui-button-text-default-font-size: 12px;
    --ui-button-text-default-line-height: 18px;
    --ui-tab-button-text-font-size: 16px;
    --ui-tab-button-text-line-height: 22px;
    --ui-chip-text-font-size: 10px;
    --ui-chip-text-line-height: 11px;
    --ui-label-font-size: 10px;
    --ui-label-line-height: 14px;
    --ui-accent-text-medium-font-size: 14px;
    --ui-accent-text-medium-line-height: 18px;
    --ui-form-label-font-size: 14px;
    --ui-form-label-line-height: 18px;
    --ui-form-text-font-size: 14px;
    --ui-form-text-line-height: 18px;
    --display-heading-3-font-size: 22px;
    --display-heading-3-line-height: 35px;
  }
}
