* {
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  height: 100%;
}

body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: var(--body-bg, #fbfaf9);
}
