.Name {
  display: flex;
  width: 1728px;
  height: 1117px;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.T_PayWallModal {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 40px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background: var(--modal-fader, rgba(0, 0, 0, 0.2));
}

.CP > _PayWallWithPromoModal {
  display: flex;
  height: 705px;
  min-width: 564px;
  align-items: flex-start;
  flex-shrink: 0;
}

.S_PayWallWithPromoModal {
  display: flex;
  width: 1280px;
  height: 705px;
  padding: var(--S_PayWallWithPromo-padding-vertical, 36px) 0px;
  justify-content: center;
  align-items: flex-start;
  border-radius: 16px;
  background: var(--card-bg-default, #fff);
  box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
}

.A_IconButton {
  display: flex;
  padding: 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

/*  */
/*  */
/* PAY WALL CONTENT */
/*  */
/*  */

.O_PayWallContent {
  display: flex;
  width: var(--O_PayWallContent-width, 680px);
  min-width: 564px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
  border-right: 1px solid var(--border-default, #e6e5e5);
}

/*  */
/*  */
/* HEADER */
/*  */
/*  */

/* ✅ */
.O_PayWallContentHeader {
  display: flex;
  width: 680px;
  flex-direction: column;
  align-items: flex-start;
}

.M_TitleWithDescription {
  display: flex;
  padding: var(--O_PayWallContentHeader, 12px) 0px;
  flex-direction: column;
  align-items: center;
  gap: var(--M_TitleWithDescription-column_display_h3_p2-gap, 12px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

/*  */
/*  */
/* WRAPPER */
/*  */
/*  */

.O_PayWallContentPaymentForm {
  display: flex;
  width: 680px;
  height: 472px;
  padding: var(--O_PayWallContentPaymentForm-padding-top, 12px) 48px
    var(--O_PayWallContentPaymentForm-padding-bottom, 36px)
    var(--S_PayWallWithPromo-padding-horizontal, 48px);
  flex-direction: column;
  align-items: center;
  gap: var(--S_PayWallWithPromo-gap, 48px);
}

/*  */
/*  */
/* TAB BAR */
/*  */
/*  */

.M_TabBar {
  display: flex;
  padding: var(--M_TabBar-padding, 4px);
  align-items: center;
  border-radius: var(--M_TabBar-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);
  box-shadow: 0px 4px 4px 0px var(--shadow-default, rgba(0, 0, 0, 0.05));
}

.A_TabButton {
  display: flex;
  padding: var(--A_TabButton-padding-vertical, 12px)
    var(--A_TabButton-padding-horizontal, 20px);
  align-items: center;
  border-radius: var(--A_TabButton-border-radius, 4px);
  background: var(--tab-bar-active-background, #fff);
  box-shadow: 0px 4px 4px 0px var(--shadow-default, rgba(0, 0, 0, 0.05));
}

.A_TabButton {
  display: flex;
  padding: var(--A_TabButton-padding-vertical, 12px)
    var(--A_TabButton-padding-horizontal, 20px);
  align-items: center;
  border-radius: var(--A_TabButton-border-radius, 4px);
  background: var(--tab-bar-inactive-background, #f1f1f1);
}

.A_TabButton {
  display: flex;
  padding: var(--A_TabButton-padding-vertical, 12px)
    var(--A_TabButton-padding-horizontal, 20px);
  align-items: center;
  border-radius: var(--A_TabButton-border-radius, 4px);
  background: var(--tab-bar-inactive-background, #f1f1f1);
}

.A_TabButton {
  display: flex;
  padding: var(--A_TabButton-padding-vertical, 12px)
    var(--A_TabButton-padding-horizontal, 20px);
  align-items: center;
  border-radius: var(--A_TabButton-border-radius, 4px);
  background: var(--tab-bar-inactive-background, #f1f1f1);
}

.A_TabButton {
  display: flex;
  padding: var(--A_TabButton-padding-vertical, 12px)
    var(--A_TabButton-padding-horizontal, 20px);
  align-items: center;
  border-radius: var(--A_TabButton-border-radius, 4px);
  background: var(--tab-bar-inactive-background, #f1f1f1);
}

/*  */
/*  */
/* ENTITIES */
/*  */
/*  */

/* ❓ */
.C_Entities {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--C_Entities-gap, 12px);
  align-self: stretch;
}

.O_EntityBar {
  display: flex;
  height: 88px;
  padding: var(--O_EntityBar-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-default, #e6e5e5);
  background: var(--card-bg-default, #fff);
  box-shadow: 0px 4px 4px 0px var(--shadow-default, rgba(0, 0, 0, 0.05));
}

/* ❓ */
.W_CardContentLeft {
  display: flex;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  flex: 1 0 0;
}

.M_TitleWithDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
  flex: 1 0 0;
}

.M_LabelsWithDivider {
  display: flex;
  align-items: flex-start;
  gap: var(--M_LabelsWithDivider-gap, 8px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  width: 6px;
  height: 16px;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  width: 23px;
  height: 16px;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

/* 🟢 */
.M_Chips {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

/* 🟢 */
.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

/* ❓ */
.W_CardContentRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
}

/* ❓ */
.C_TitleDescRow {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

/* 🟢 */
.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--danger, #ff5252);
}

.A_Button {
  display: flex;
  padding: var(--A_Button-primary_default-padding-vertical, 10px)
    var(--A_Button-primary_default-padding-horizontal, 24px);
  justify-content: center;
  align-items: center;
  border-radius: var(--A_Button-primary_default-border-radius, 4px);
  background: var(--interactive-initial, #629e8e);
}

.O_EntityBar {
  display: flex;
  height: 88px;
  padding: var(--O_EntityBar-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-accent, #bbddd2);
  background: var(--card-bg-accent, #f8fcfb);
  box-shadow: 0px 4px 4px 0px var(--shadow-accent, rgba(86, 170, 143, 0.1));
}

/* ❓ */
.W_CardContentLeft {
  display: flex;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  flex: 1 0 0;
}

.M_TitleWithDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
  flex: 1 0 0;
}

.M_LabelsWithDivider {
  display: flex;
  align-items: flex-start;
  gap: var(--M_LabelsWithDivider-gap, 8px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  width: 6px;
  height: 16px;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  height: 16px;
  align-items: flex-start;
  flex: 1 0 0;
}

.M_CabinetNameWithId {
  display: flex;
  align-items: flex-start;
  gap: var(--M_CabinetNameWithId-gap, 6px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

/* ✅ */
.M_Chips {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.W_CardContentRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
}

.C_TitleDescRow {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.M_TitleWithDescription {
  display: flex;
  height: 40px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

/*  */
/*  */
/* TRASH */
/*  */
/*  */

.O_EntityBar {
  display: flex;
  height: 88px;
  padding: var(--O_EntityBar-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-accent, #bbddd2);
  background: var(--card-bg-accent, #f8fcfb);
  box-shadow: 0px 4px 4px 0px var(--shadow-accent, rgba(86, 170, 143, 0.1));
}

.W_CardContentLeft {
  display: flex;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  flex: 1 0 0;
}

.M_TitleWithDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
  flex: 1 0 0;
}

.M_LabelsWithDivider {
  display: flex;
  align-items: flex-start;
  gap: var(--M_LabelsWithDivider-gap, 8px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
}

.M_CabinetNameWithId {
  display: flex;
  align-items: flex-start;
  gap: var(--M_CabinetNameWithId-gap, 6px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_Chips {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.W_CardContentRight {
  display: flex;
  padding-right: var(--O_EntityBar-padding-extended, 48px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
}

.M_TitleWithDescription {
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Button {
  display: flex;
  padding: var(--A_Button-primary_default-padding-vertical, 10px)
    var(--A_Button-primary_default-padding-horizontal, 24px);
  justify-content: center;
  align-items: center;
  border-radius: var(--A_Button-primary_default-border-radius, 4px);
  border: 1px solid var(--interactive-initial, #629e8e);
  background: var(--card-bg-default, #fff);
}

/* ❓ */
.A_IconButton {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 2px;
}

/* 🟢 */
.dots {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.O_EntityBar {
  display: flex;
  height: 88px;
  padding: var(--O_EntityBar-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-accent, #bbddd2);
  background: var(--card-bg-accent, #f8fcfb);
  box-shadow: 0px 4px 4px 0px var(--shadow-accent, rgba(86, 170, 143, 0.1));
}

.W_CardContentLeft {
  display: flex;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  flex: 1 0 0;
}

.M_TitleWithDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
  flex: 1 0 0;
}

.M_LabelsWithDivider {
  display: flex;
  align-items: flex-start;
  gap: var(--M_LabelsWithDivider-gap, 8px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
}

.M_CabinetNameWithId {
  display: flex;
  align-items: flex-start;
  gap: var(--M_CabinetNameWithId-gap, 6px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_Chips {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.W_CardContentRight {
  display: flex;
  padding-right: var(--O_EntityBar-padding-extended, 48px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
}

.M_TitleWithDescription {
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Button {
  display: flex;
  padding: var(--A_Button-primary_default-padding-vertical, 10px)
    var(--A_Button-primary_default-padding-horizontal, 24px);
  justify-content: center;
  align-items: center;
  border-radius: var(--A_Button-primary_default-border-radius, 4px);
  border: 1px solid var(--interactive-initial, #629e8e);
  background: var(--card-bg-default, #fff);
}

.A_IconButton {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 2px;
}

.dots {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.O_EntityBar {
  display: flex;
  height: 88px;
  padding: var(--O_EntityBar-padding, 24px);
  justify-content: center;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid var(--border-accent, #bbddd2);
  background: var(--card-bg-accent, #f8fcfb);
  box-shadow: 0px 4px 4px 0px var(--shadow-accent, rgba(86, 170, 143, 0.1));
}

.W_CardContentLeft {
  display: flex;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
  flex: 1 0 0;
}

.M_TitleWithDescription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
  flex: 1 0 0;
}

.M_LabelsWithDivider {
  display: flex;
  align-items: flex-start;
  gap: var(--M_LabelsWithDivider-gap, 8px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
}

.M_CabinetNameWithId {
  display: flex;
  align-items: flex-start;
  gap: var(--M_CabinetNameWithId-gap, 6px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.M_Chips {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.W_CardContentRight {
  display: flex;
  padding-right: var(--O_EntityBar-padding-extended, 48px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--O_EntityBar-gap, 24px);
}

.M_TitleWithDescription {
  display: flex;
  width: 30px;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_TitleWithDescription-ui_property-gap, 4px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Chip {
  display: flex;
  padding: var(--A_Chip-padding-horizontal, 6px)
    var(--A_Chip-padding-vertical, 8px);
  justify-content: center;
  align-items: center;
  border-radius: var(--ui-chip-border-radius, 4px);
  border: 1px solid var(--text-muted, #9b9b9b);
}

.A_Button {
  display: flex;
  padding: var(--A_Button-primary_default-padding-vertical, 10px)
    var(--A_Button-primary_default-padding-horizontal, 24px);
  justify-content: center;
  align-items: center;
  border-radius: var(--A_Button-primary_default-border-radius, 4px);
  border: 1px solid var(--interactive-initial, #629e8e);
  background: var(--card-bg-default, #fff);
}

.A_IconButton {
  display: flex;
  width: 36px;
  height: 36px;
  padding: 4px;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 2px;
}

.dots {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 0px 4px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*  */
/*  */
/* FORM */
/*  */
/*  */

/* ✅ */
.C_FormFields {
  display: flex;
  width: 468px;
  flex-direction: column;
  align-items: center;
  gap: var(--C_FormFields-gap, 28px);
}

.M_FormField {
  display: flex;
  width: 468px;
  flex-direction: column;
  align-items: center;
  gap: var(--M_FormField-gap, 12px);
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Input {
  display: flex;
  height: 52px;
  padding: var(--A_Input-padding-vertical, 16px)
    var(--A_Input-padding-horizontal, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--A_Input-max_sum-gap, 12px);
  align-self: stretch;
  border-radius: var(--A_Input-default-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);
}

.M_FormField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--M_FormField-gap, 12px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Input {
  display: flex;
  height: 52px;
  padding: var(--A_Input-padding-vertical, 16px)
    var(--A_Input-padding-horizontal, 16px);
  align-items: center;
  gap: var(--A_Input-max_sum-gap, 12px);
  align-self: stretch;
  border-radius: var(--A_Input-default-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);
}

.M_FormField {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_FormField-gap, 12px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Input {
  display: flex;
  height: 92px;
  padding: var(--A_Input-textarea-padding-vertical, 16px);
  align-items: flex-start;
  align-self: stretch;
  border-radius: var(--A_Input-default-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);
}

.M_FormField {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--M_FormField-gap, 12px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Input {
  display: flex;
  height: 52px;
  padding: var(--A_Input-padding-vertical, 16px)
    var(--A_Input-padding-horizontal, 16px);
  justify-content: center;
  align-items: center;
  align-self: stretch;
  border-radius: var(--A_Input-default-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);
}

/* 🟢 */

.O_PayWallContentActionBar {
  display: flex;
  width: 680px;
  flex-direction: column;
  align-items: flex-start;
}

.M_TwoRowButtonSet {
  display: flex;
  padding: var(--S_PayWallWithPromo-footer-padding-vertical, 12px) 0px;
  flex-direction: column;
  align-items: center;
  gap: var(--M_TwoRowButtonSet-gap, 16px);
  align-self: stretch;
}

.A_Button {
  display: flex;
  padding: var(--A_Button-primary_default-padding-vertical, 10px)
    var(--A_Button-primary_default-padding-horizontal, 24px);
  justify-content: center;
  align-items: center;
  border-radius: var(--A_Button-primary_default-border-radius, 4px);
  background: var(--interactive-disabled, #9b9b9b);
}

.M_ButtonSet {
  display: flex;
  align-items: center;
  gap: var(--M_ButtonSet-gap, 16px);
}

.A_Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.A_Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.A_Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Q_ScrollAreaFader {
  width: 680px;
  height: var(--Q_ScrollAreaFader-height, 36px);
  position: absolute;
  top: -36px;
  border-right: 1px solid var(--border-default, #e6e5e5);
  background: linear-gradient(
    180deg,
    var(--card-bg-default-transparent, rgba(255, 255, 255, 0)) 0%,
    var(--card-bg-default, #fff) 50%
  );
}

/*  */
/*  */
/* PROMO CONTENT */
/*  */
/*  */

.O_PromoContent {
  display: flex;
  width: var(--O_PromoContent-width, 600px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  align-self: stretch;
}

.W_PromoTextCenterizer {
  display: flex;
  width: 600px;
  padding: 0px var(--S_PayWallWithPromo-padding-horizontal, 48px);
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.W_PromoTextScrollArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.M_PayWallWithPromoPromoText {
  width: 504px;
  height: 525px;
}

.A_ImageButton {
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/*  */
/*  */
/* COMPOSED LOGO */
/*  */
/*  */

.Brand Logo {
  display: flex;
  width: 100px;
  align-items: flex-start;
  gap: 8px;
  flex-shrink: 0;
}

.Brand Icon {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--brand-green, #629e8e);
}

.Brand Symbol {
  display: flex;
  width: 26px;
  height: 26px;
  padding: 0px 0.784px 0.695px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.Brand Name {
  display: flex;
  padding-top: 7px;
  align-items: flex-start;
}

.W_PromoCodeCenterizer {
  display: flex;
  width: 600px;
  padding-right: var(--S_PayWallWithPromo-padding-horizontal, 48px);
  flex-direction: column;
  align-items: flex-start;
}

.M_FormField {
  display: flex;
  padding: var(--S_PayWallWithPromo-footer-padding-vertical, 12px) 0px
    var(--S_PayWallWithPromo-footer-padding-vertical, 12px)
    var(--S_PayWallWithPromo-padding-horizontal, 48px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--M_FormField-gap, 12px);
  align-self: stretch;
}

.A_Text {
  display: flex;
  align-items: flex-start;
}

.A_Input {
  display: flex;
  height: 52px;
  padding: var(--A_Input-padding-vertical, 16px)
    var(--A_Input-padding-horizontal, 16px);
  align-items: center;
  align-self: stretch;
  border-radius: var(--A_Input-default-border-radius, 8px);
  border: 1px solid var(--form-input-border, #c8cccb);
  background: var(--form-input-background, #f2f5f4);
}

.Q_ScrollAreaFader {
  width: 600px;
  height: var(--Q_ScrollAreaFader-height, 36px);
  position: absolute;
  top: -36px;
  background: linear-gradient(
    180deg,
    var(--card-bg-default-transparent, rgba(255, 255, 255, 0)) 0%,
    var(--card-bg-default, #fff) 50%
  );
}

/*  */
/*  */
/* PROMO TEXT CONTENT */
/*  */
/*  */

.Text {
  flex: 1 0 0;
  color: var(--text-primary, #000);
  text-align: center;
  font-family: Manrope;
  font-size: var(--display-heading-3-font-size, 24px);
  font-style: normal;
  font-weight: 800;
  line-height: var(--display-heading-3-line-height, 37px) /* 154.167% */;
}

.Text {
  flex: 1 0 0;
  color: var(--text-primary, #000);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px /* 140% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-tab-button-text-font-size, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-tab-button-text-line-height, 24px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-tab-button-text-font-size, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-tab-button-text-line-height, 24px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-tab-button-text-font-size, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-tab-button-text-line-height, 24px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-tab-button-text-font-size, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-tab-button-text-line-height, 24px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-tab-button-text-font-size, 18px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-tab-button-text-line-height, 24px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--danger, #ff5252);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-inverted, #fff);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-label-font-size, 12px);
  font-style: normal;
  font-weight: 400;
  line-height: var(--ui-label-line-height, 16px) /* 133.333% */;
}

.Text {
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-accent-text-medium-font-size, 16px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-accent-text-medium-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px /* 130% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

/*  */
/*  */
/* PROMO CODE FORM */
/*  */
/*  */

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-form-label-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-label-line-height, 20px) /* 125% */;
}

.Placeholder {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--form-input-placeholder, #989b9a);
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.Max sum {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--interactive-initial, #629e8e);
  text-align: right;
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-form-label-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-label-line-height, 20px) /* 125% */;
}

.Placeholder {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--form-input-placeholder, #989b9a);
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.Max sum {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  color: var(--interactive-initial, #629e8e);
  text-align: right;
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-form-label-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-label-line-height, 20px) /* 125% */;
}

.Placeholder {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--form-input-placeholder, #989b9a);
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-form-label-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-label-line-height, 20px) /* 125% */;
}

.Placeholder {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--form-input-placeholder, #989b9a);
  text-align: center;
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.Text {
  color: var(--text-inverted, #fff);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Text {
  color: var(--text-muted, #9b9b9b);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Text {
  color: var(--interactive-initial, #629e8e);
  text-align: center;
  font-family: 'PT Root UI';
  font-size: var(--ui-button-text-default-font-size, 14px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-button-text-default-line-height, 20px) /* 142.857% */;
}

.Rectangle {
  width: 4px;
  height: 16.666px;
  transform: rotate(23deg);
  flex-shrink: 0;
  background: var(--brand-off-white-yellow, #fbfaf9);
}

.Rectangle {
  width: 4px;
  height: 8.486px;
  transform: rotate(23deg);
  flex-shrink: 0;
  background: var(--brand-off-white-yellow, #fbfaf9);
}

.Rectangle {
  width: 22.032px;
  height: 4px;
  transform: rotate(-10deg);
  flex-shrink: 0;
  background: var(--brand-off-white-yellow, #fbfaf9);
}

.Rectangle {
  width: 4px;
  height: 16.722px;
  transform: rotate(23deg);
  flex-shrink: 0;
  background: var(--brand-off-white-yellow, #fbfaf9);
}

/*  */
/*  */
/* CONTENT */
/*  */
/*  */

.ul li {
  width: 504px;
  color: var(--text-primary, #000);
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'PT Root UI';
  font-size: var(--ui-list-item-font-size, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-list-item-line-height, 30px) /* 150% */;
}

.p {
  width: 504px;
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-paragraph-medium-font-size, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-paragraph-medium-line-height, 32px) /* 160% */;
}

.p {
  width: 504px;
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-heading-2-font-size, 20px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-heading-2-line-height, 32px) /* 160% */;
}

.p {
  width: 504px;
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-paragraph-medium-font-size, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-paragraph-medium-line-height, 32px) /* 160% */;
}

.p {
  width: 504px;
  color: var(--interactive-initial, #629e8e);
  font-family: 'PT Root UI';
  font-size: var(--ui-paragraph-medium-font-size, 20px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-paragraph-medium-line-height, 32px) /* 160% */;
}

.p.descriptor {
  width: 504px;
  color: var(--text-muted, #9b9b9b);
  font-family: 'PT Root UI';
  font-size: var(--ui-descriptor-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-descriptor-line-height, 22px) /* 137.5% */;
}

.h1 {
  width: 504px;
  color: var(--text-primary, #000);
  font-family: 'PT Root UI';
  font-size: var(--ui-heading-1-font-size, 24px);
  font-style: normal;
  font-weight: 700;
  line-height: var(--ui-heading-1-line-height, 30px) /* 125% */;
}

.Text {
  color: var(--text-secondary, #363636);
  font-family: 'PT Root UI';
  font-size: var(--ui-form-label-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-label-line-height, 20px) /* 125% */;
}

.Placeholder {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  flex: 1 0 0;
  overflow: hidden;
  color: var(--form-input-placeholder, #989b9a);
  text-overflow: ellipsis;
  font-family: 'PT Root UI';
  font-size: var(--ui-form-text-font-size, 16px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--ui-form-text-line-height, 20px) /* 125% */;
}

.x {
  width: 24px;
  height: 24px;
}

.Vector {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--icon-default, #9b9b9b);
}

.Vector {
  width: 16px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--icon-default, #9b9b9b);
}

.Vector {
  width: 16px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--icon-default, #9b9b9b);
}

.Vector {
  width: 16px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 2px;
  stroke: var(--icon-default, #9b9b9b);
}

.Group 1 {
  width: 25.216px;
  height: 25.305px;
  flex-shrink: 0;
}

.Name {
  width: 51.138px;
  height: 25.29px;
  fill: var(--brand-like-black, #2e2e2e);
}
